textarea {
    min-height: 400px;
}

input[type=submit] {
    margin-top: 10px;
}

.mail-row {
    display: flex;
    border: 1px solid gray;
    padding: 3px 0;
    margin-bottom: 2px;
    border-radius: 4px;
}

div.mail-row:hover {
    border: 2px solid black;
    cursor: pointer;
}

.mail-row.read {
    background-color: rgb(226, 221, 221);
}

.sender {
    font-weight: bold;
}