textarea {
    min-height: 400px;
}

input[type=submit] {
    margin-top: 10px;
}

.mail-row {
    display: flex;
    border: 1px solid gray;
    padding: 3px 0;
    margin-bottom: 2px;
    border-radius: 4px;
}

div.mail-row:hover {
    border: 2px solid black;
    cursor: pointer;
}

.mail-row.read {
    background-color: rgb(226, 221, 221);
}

.sender {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#reply-button {
    margin-top: 10px;
}

#archive-button {
    margin-top: 10px;
    margin-left: 10px;
}

#email-header-bottom-hr {
    margin-top: 20px;
}

#email-body {
    width: 100%;
    border: "1px solid black";
    border-radius: 4px;
    border: 1px solid gray;
    padding: 3px;
}